# Nyström Kernel Approximation
Python implementation of the Nyström Kernel Approximation from https://arxiv.org/abs/1605.07583 and https://github.com/cnmusco/recursive-nystrom . Hopefully for later use with our work on kernel machines.

In [1]:
pwd

'/Users/cdickens/Documents/GitHub/phd_work'

In [14]:
import os
import tarfile
from six.moves import urllib

"""
DOWNLOAD_ROOT = "https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz"
COVER_PATH = os.path.join("datasets", "covertype")
COVER_URL = DOWNLOAD_ROOT + "datasets/covertype/cover.gz"

def fetch_data(data_url=COVER_URL, data_path=COVER_PATH):
    if not os.path.isdir(data_path):
        os.makedirs(data_path)
    tgz_path = os.path.join(data_path, "cover.gz")
    urllib.request.urlretrieve(data_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=data_path)
    housing_tgz.close()
"""

'\nDOWNLOAD_ROOT = "https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz"\nCOVER_PATH = os.path.join("datasets", "covertype")\nCOVER_URL = DOWNLOAD_ROOT + "datasets/covertype/cover.gz"\n\ndef fetch_data(data_url=COVER_URL, data_path=COVER_PATH):\n    if not os.path.isdir(data_path):\n        os.makedirs(data_path)\n    tgz_path = os.path.join(data_path, "cover.gz")\n    urllib.request.urlretrieve(data_url, tgz_path)\n    housing_tgz = tarfile.open(tgz_path)\n    housing_tgz.extractall(path=data_path)\n    housing_tgz.close()\n'

In [41]:
import pandas as pd
import numpy as np
import random

random.seed(1)

cov_data = pd.read_csv('datasets/covtype.data', header=None)

In [52]:
cov_data.shape
type(cov_data)

pandas.core.frame.DataFrame

In [56]:
# Choose a small subset for experiments
nsamples = 6000 
# remove the last column of labels

cov_data_shuffled = cov_data.iloc[np.random.permutation(len(cov_data))]
cov_data_shuffled.shape
cov_data_shuffled.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
390935,2544,54,6,430,41,1020,224,226,137,1406,...,0,0,0,0,0,0,0,0,0,5
248405,2641,343,14,67,6,153,191,218,165,708,...,0,0,0,0,0,0,0,0,0,2
374650,2692,189,33,30,20,1766,201,242,149,1138,...,0,0,0,0,0,0,0,0,0,2
343422,2601,349,16,510,221,731,188,211,160,1073,...,0,0,0,0,0,0,0,0,0,3
353797,3133,67,30,190,-25,916,233,166,0,1215,...,0,0,0,0,0,0,0,0,0,1

In [75]:
X = cov_data_shuffled.iloc[0:nsamples].copy()

In [76]:
X.shape

(6000, 55)

In [77]:
X = X.drop(labels=54, axis=1)
#df = df.drop(labels='column_to_delete', axis=1)

In [78]:
X.shape
#X.iloc[:,0:10]

(6000, 54)

In [119]:
N, M = X.shape
means = np.zeros((1,M))
means = np.mean(X.iloc[:,:], axis=0)

In [95]:
means[means.index > 10] = 0

In [96]:
means.shape

(54,)

In [97]:
X = X - np.tile(means, (nsamples, 1))

In [98]:
X.shape

(6000, 54)

In [127]:
col_norms = nsamples**(0.5)*np.ones((1,M))
new_vals = 1/np.sqrt(np.sum(X.iloc[:,0:10]**2,axis=0))
col_norms.shape
col_norms

array([[ 77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692,  77.45966692,  77.45966692,
         77.45966692,  77.45966692]])

In [121]:
new_vals.shape

(10,)

In [125]:
col_norms[:,0:10] = np.zeros((1, len(col_norms)))
col_norms.shape
col_norms

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.]])

In [126]:
col_norms.shape

(1, 54)